/*!
 * index.css - End2End.tech
 */

body {
    color: #00bb00;
    background-color: #000000;
}

.main {
    display: none;
}

.maxDownloadCount {
    width: 120px;
    height: 40px;
    text-align: right;
}

.setPassword {
    width: 240px;
    height: 40px;
    text-align: left;
}

.default-remove {
    display: none;
}

.textblack {
    color: #000000;
}

.pswmeter {
    width: 65%;
}

.selectFile {
    padding: 10px 40px;
    color: #ffffff;
    background-color: #384878;
    cursor: pointer;
}

.textcenter {
    text-align: center;
}
